# 'secrets.toml' moet altijd aanwezig zijn in de dlt/.dlt/ map;
# mag echter wel leeg zijn als je via environment variabelen configureert
# In dit project prefereren we environment variabelen; zie .env.example